version: '3.8'

services:
  tft-backend:
    build: .
    container_name: tft-backend
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - ./data:/app/data 
    restart: always
